﻿<style>
body.cpw-ama div.cpw-ama-robot-task-default-form
{
	margin:0 auto;
	padding:10px;
	min-width: 510px;
	font-size: 16px;
	display:block;
}

body.cpw-ama div.cpw-ama-robot-task-default-form div.buttons button
{
	font-size:14px;
}

div.cpw-ama-robot-task-default-form textarea
{
	margin-left: 25px;
	margin-bottom: 10px;
}

div.cpw-ama-robot-task-default-form div.help
{
	margin-top: 10px;
	margin-bottom: 10px;
}
div.cpw-ama-robot-task-default-form div.help div.question, div.cpw-ama-robot-task-default-form div.help div.question_href
{
	display: inline-block;
	text-align: right;
	padding-right: 3px;
}
div.cpw-ama-robot-task-default-form div.row.title
{
	margin-bottom: 10px;
	font-size: 18px;
}
div.cpw-ama-robot-task-default-form div.row.procedure
{
	margin-left: 20px;
}
div.cpw-ama-robot-task-default-form div.row.debtor
{
	margin-left: 40px;
}
div.cpw-ama-robot-task-default-form div.row.time
{
	margin-left: 10px;
	margin-top: 10px;
	font-size: 18px;
}
div.cpw-ama-robot-task-default-form div.value
{
	display: inline-block;
}
div.cpw-ama-robot-task-default-form div.row.time div.value
{
	font-weight: bold;
}
div.cpw-ama-robot-task-default-form button.ch_efrsb
{
	margin-left: 55px;
}

body .cpw-ama-robot-todo-form .tasks .tasks-body {
    cursor: pointer;
    font-size: 16px;
    overflow: auto;
    margin-left: 7px;
}

body div.cpw-ama-robot-task-default-form div.message textarea.efrsb-message 
{
	width: 600px;
	border: 1px solid black;
	overflow-y: auto;
	display: inline-block;
	height: 400px;
	margin-left:5px;
}

body div.cpw-ama-robot-task-default-form .help {
    margin-left: 100px;
}

body div.cpw-ama-robot-task-default-form .help .question {
	float: right;
}

body div.cpw-ama-robot-task-default-form .help .question_href {
	float: left;
}

body div.cpw-ama-robot-task-default-form label.store-text {
    font-size: 14px;
    color: gray;
}

body div.cpw-ama-robot-task-default-form input.ama-robot-checkbox {
    margin-left: 30px;
}

body div.cpw-ama-robot-task-default-form div.check-efrsb-window{
	position: absolute;
	background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

body div.cpw-ama-robot-task-default-form div.check-efrsb-window duv.window span
{
	margin:5px 0;
}

body div.cpw-ama-robot-task-default-form div.check-efrsb-window div.window
{
	border:1px solid black;	
	width:500px;
	margin:0 auto;
	font-size:16px;
	display:block;
	 /*width: 300px;*/
	height: 250px;
	/*text-align: center;*/
	padding: 15px;
	/*border: 3px solid #0000cc;*/
	border-radius: 10px;
	/*color: #0000cc;*/
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: #fff;
}

body div.cpw-ama-robot-task-default-form div.check-efrsb-window div.window:target {
display:block; 
}

body div.cpw-ama-robot-task-default-form div.check-efrsb-window div.check-efrsb-window div.window header.efrsb-header
{
font-size:14px;
border-bottom:1px solid black;
padding:5px 0;
margin-bottom:5px;
}

body div.cpw-ama-robot-task-default-form div.check-efrsb-window div.check-efrsb-window div.window footer
{
border-top: 1px solid black;
padding:5px;
}

body div.cpw-ama-robot-task-default-form div.check-efrsb-window div.window  footer button.btn-close-window{
float:right;
margin-bottom:5px;
}

body div.cpw-ama-robot-task-default-form div.check-efrsb-window div.check-efrsb-window div.window div.check-is-false div.buttons button.btn-skip-task{
font-size:10px;
padding:2px;
width:250px;
}

</style>

<%
var model= obj.fastening.model;
var задача = !model ? {} : model.Задача;
var процедура = !model ? {Тип:{},Должник:{}} : model.Процедура;
var сообщение_на_ефрсб = null;
if(!model)
	сообщение_на_ефрсб = "...";
else
	сообщение_на_ефрсб = !model.Результат_проверки? model.ТекстСообщения : model.Результат_проверки.ТекстСообщения;

var date = !задача.К_сроку ? new Date(197,2,3) : new Date(parseInt(задача.К_сроку.substring(6,19)));
date = date.toLocaleDateString();
if (процедура.тип)
{
	var Тип_полностью= процедура.тип.Полностью;
	if (!Тип_полностью || null==Тип_полностью || ''==Тип_полностью)
	{
		switch (процедура.тип.Кратко)
		{
			case 'Н': Тип_полностью= 'Наблюдение'; break;
			case 'КП': Тип_полностью= 'Конкурсное производство'; break;
		}
	}
}
%>

<script>
    var ama_message_selector = 'body textarea.efrsb-message';
    $(function () {
        $(document).ready(function () {
            var c = document.querySelector('.ama-robot-checkbox');
            if (!c.checked)
                c.checked = true;
        });
	});

	function getManagerValue() {
		return manager;
	}

	function getTaskValue() {
		return задача;
	}

	function getProcedureValue() {
		return процедура;
	}

	function ama_message(txt_message) {
		manager = JSON.parse(txt_message).Manager;
        $(ama_message_selector).text(manager.ТекстСообщения);
	}

</script>
<div class="cpw-ama-robot-task-default-form">

	<div class="row title">
		<div class="value">
			<b><%= задача.Формулировка %><% if (0) { %>Отправить уведомление на ЕФРСБ<% } %></b>
		</div>
	</div>

	<div class="row procedure">
		<span>для процедуры</span> 
		<div class="value">
			<%= Тип_полностью %><% if (0) { %>Наблюдение<% } %> 
		</div>
	</div>

	<div class="row debtor">
		<span>над должником</span> 
		<div class="value">
			<b><%= процедура.Должник.Наименование %><% if (0) { %>ООО "Рога и копыта"<% } %> </b>
		</div>
	</div>

	<div class="row time">
		<span>нужно выполнить до</span> 
		<div class="value">
			<%= date %><% if (0) { %>06.02.2015<% } %> 
		</div>
	</div>

	<div class="help">
        <table>
            <tr>
                <td>
                    <div class="question">
                    Почему Вам нужно выполнить эту задачу? см.</div>
                </td>
                <td>
                    <div class="question_href">
                        <a href="#null" class="why">Описание-обоснование</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="question">
                    Как Вам выполнить эту задачу? см.</div></td>
                <td><div class="question_href"><a href="#null" class="how">Рекомендации</a></div>
                </td>
            </tr>
        </table>
	</div>
	<div class="message">
		Предлагаемый текст объявления:
		<label class="store-text">
			<input type="checkbox" value="true" class="ama-robot-checkbox"> 
			Сохранить текст в файловом хранилище
		</label>
		<br />
		<textarea class="efrsb-message"><%= сообщение_на_ефрсб %></textarea>
	</div>
	
	<div class="buttons">
		<button class="co_efrsb ama-button red">Запустить публикацию на ЕФРСБ</button>
		<button class="ch_efrsb ama-button red">Проверить публикацию на ЕФРСБ</button>
	</div>
</div>