﻿<style>
    div.efrsb-messages
    {
        font-size:16px;
    }

    div.efrsb-messages div.window div.check-is-true div.messages
    {
        margin: 0 0 5px 30px;
    }
    div.efrsb-messages div.window div.check-is-true div.messages div.message{
        margin-bottom:5px;
    }

    div.efrsb-messages div.window div.check-is-true div.messages div.text{
        padding:5px;
        margin-right:2px;
        display: inline-block;
    }

    div.efrsb-messages div.window div.check-is-true div.messages div.open-btn {
        width:250px;
        float:right;
        right:0px;
    }


</style>

<%
	var messages = !obj.result ? {} : obj.result ;
	var task = obj.task;
	var proc = obj.proc;
	var countMsg = "";
	if(messages.length===1)
	{
		countMsg = "сообщение";
	}
	else if(messages.length>1 && messages.length < 4)
	{
		countMsg = "сообщения";
	}
	else
	{
		countMsg = "сообщений";
	}
%>

<script>
    function s(data) {
        alert(data);
        window.open("http://www.google.com");
    };
</script>

<div class="efrsb-messages">
    <div class="window">
        <div class="check-is-true">
            <span>Проверено объявление типа <%= task.Формулировка.substring(19)%><br />
            для должника с ИНН: <%= proc.Должник.ИНН%><br />
            Найдено <%=messages.length%> <%=countMsg%>:</span>
            <div class="messages">
                <ol>
                <%for(var i=0;i< messages.length ;i++){
                var msg = messages[i];
                var date = new Date(parseInt(msg.PublishDate.substring(6,19)));
                date = date.toLocaleDateString();
                
                var messageGuid = $(msg.Body).find("MessageGUID").text();
                %>
                
                    <li><div class="message">
                        <script>
                        function openEfrsb() {
                        window.open("https://bankrot.fedresurs.ru/MessageWindow.aspx?ID=<%=messageGuid%>","ЕФРСБ", "toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=0,resizable=0");
                    };
                        </script>
                        <div class="text">
                            <span>№ <%= msg.MessageNumber%> <%if(0){%>31241254<%}%> от <%= date %><%if(0){%>01.01.2001<%}%> 
                            </span>
                        </div>
                        <div class="open-btn ama-button red" onclick="openEfrsb()">
                            <span>Открыть публикацию на ЕФРСБ</span>
                        </div>
                    </div>
                    </li>
                
                <%}%>
                </ol>
            </div>
        </div>
    </div>
</div>