﻿<style>
	div.check-efrsb-window
	{
		font-size:16px;
	}

	div.false-reasons ol.reason-list
	{
		padding-left:15px;
	}

</style>

<div class="check-efrsb-window">
	<div class="window">
		<div class="check-is-false">
			<span>Проверка публикации выполнена.</span>
			</br>
			<span style="color:red">Сайт ЕФРСБ НЕ позволяет скачать объявление!</span>
			<div class="false-reasons">
				<span>Возможные причины</span>
				</br>
				<ol class="reason-list">
					<li>
						Вы не разместили объявление на сайте ЕФРСБ
					</li>
					<li>
						Вы не подписали объявление (не подписанные черновики не публикуются)
					</li>
					<li>
						Вы не оплатили публикацию этого объявления
					</li>
				</ol>
			</div>
			<span>Завершите публикацию (устраните вышеизложенные причины) и повторите проверку снова </span>

		</div>
	</div>
</div>
