﻿<style>
	div.forced-task
	{
		padding-left:10px;
		font-size:16px;
	}

	div.forced-task div.description{
		text-align: right;
	}

	div.forced-task table{
		margin:10px auto;
	}

	div.forced-task div.task-name
	{
		margin-left:10px;
		font-weight:bold;
		margin-bottom:10px;
	}

	div.forced-task textarea.forced-task-comment
	{
		width:550px;
		margin-left:10px;
	}
</style>
<%
	var информация_о_пользователе = !obj ? {} : obj.users;
	var процедура = !obj? {} : obj.процедура;
	var задача = !obj? {} : obj.задача;
	var helper = obj.helper;
	var АУ= helper.СобратьПолноеИмя(информация_о_пользователе.АрбитражныйУправляющий);
	var пользователь = helper.СобратьПолноеИмя(информация_о_пользователе.Пользователь);	
    var data = new Date();
    
    switch (data.getMonth())
    {
      case 0: fMonth="января"; break;
      case 1: fMonth="февраля"; break;
      case 2: fMonth="марта"; break;
      case 3: fMonth="апреля"; break;
      case 4: fMonth="мае"; break;
      case 5: fMonth="июня"; break;
      case 6: fMonth="июля"; break;
      case 7: fMonth="августа"; break;
      case 8: fMonth="сентября"; break;
      case 9: fMonth="октября"; break;
      case 10: fMonth="ноября"; break;
      case 11: fMonth="декабря"; break;
    }
    var dateNow = data.getDate() + " "+fMonth+" "+data.getFullYear()+" г.";
%>

<div class="forced-task">
    <%if(!haveMessage){%>
	<span style="color:red">ВНИМАНИЕ! Отсутствие необходимой публикации может привести к дисциплинированным взысканиям АУ вплоть до дисквалификации</span><%}%>
	<table>
		<tr>
			<td><div class="description">Арбитражный управляющий:</div></td>
			<td><div class="value"><%=АУ%><%if(0){%>Петров П.П.<%}%></div></td>
		</tr>
		<tr>
			<td><div class="description">Пользователь:</div></td>
			<td><div class="value"><%= пользователь %><%if(0){%>Иванов И.И.<%}%></div></td>
		</tr>
		<tr>
			<td><div class="description">Процедура:</div></td>
			<td><div class="value"><%= процедура.тип.Полностью %><%if(0){%>Наблюдение<%}%></div></td>
		</tr>
		<tr>
			<td><div class="description">Предприятие:</div></td>
			<td><div class="value"><%= процедура.Должник.Наименование %><%if(0){%>ООО "Рога и копыта"<%}%></div></td>
		</tr>
	</table>
	<div class="date">дата подтверждения: <%=dateNow%><%if(0){%>5 февраля 2015 г.<%}%></div><br />
    <%if(!haveMessage){%>
	<span>Подтверждает принудительное завершение задачи</span>
    <%}else{%>
    <span>Подтверждает наличие сообщения на ЕФРСБ</span>
    <%}%>
	<div class="task-name"><%= задача.Формулировка %><%if(0){%>Разместить на ЕФРСБ "Сообщение о введении Наблюдения"<%}%></div>
	<span>Комментарий для журнала работ:</span><br />
	<textarea class="forced-task-comment"></textarea>
</div>