﻿<style>

body.cpw-ama
{
	overflow:hidden;
	margin:0;
}

div.container
{
	position: relative;
	height:100vh;
}

body .cpw-ama-robot-todo-form div.tasks 
{
	background: #ffffff;
	width: 100%;
	padding-top:50px;
	background-color: #ffffff;
	height: 100%;
	width: 100%;
	overflow:hidden;
	font-size:16px;
}

body .cpw-ama-robot-todo-form div.tasks  div.name
{
	Line-height: 20px;
}
body div.cpw-ama-robot-todo-form div.content, 
body div.cpw-ama-robot-todo-form div.header b
{
	margin:0 0 2px 5px;
}

body .cpw-ama-robot-todo-form div.header
{
	background-color:	 #fff;
	height: 50px;
	width: 100%;
	position: absolute;
	top: 0;
}

body .cpw-ama-robot-todo-form div.tasks div.body
{
	background-color: white;
	width: 100%;
	top: 59px;
	overflow-y:auto;
	position: absolute;
	left:0;
	bottom:0;
}

body.cpw-ama div.cpw-ama-robot-todo-form
{
	min-width: 300px;
	padding-right:3px;
	/*margin: 0 auto;*/
	background: #ffffff;
	/*overflow: hidden;*/
}

div.cpw-ama-robot-todo-form  div.tasks div.header div.selected-list{
	padding-left: 5px;
	padding-right: 3px;
	margin-top:4px;
}
div.cpw-ama-robot-todo-form  div.tasks div.header div.selected-list select.procedure-list
{
	border: 1px solid #F0F0F0;
	width: 100%;
}

div.cpw-ama-robot-todo-form div.tasks div.task
{
	padding:2px;
	padding-top: 0;
	margin-top:2px;
	font-size:16px;
	margin-bottom:2px;
}

div.cpw-ama-robot-todo-form div.tasks div.task div.name
{
	margin-top:0;
}

div.cpw-ama-robot-todo-form div.tasks div.content-task{
	border-top: 1px solid #F0F0F0;
}

div.cpw-ama-robot-todo-form div.tasks div.content-task  div.task:hover
{
	background-color: #C4E2FF;
}

div.cpw-ama-robot-todo-form div.tasks div.task.selected
,div.cpw-ama-robot-todo-form div.tasks div.task selected:hover
{
	background-color:  #E1E1E1;
}
div.cpw-ama-robot-todo-form div.tasks div.task div.procedure
{
	margin-left: 5px;
	color: gray;
	font-size:14px;
}

div.cpw-ama-robot-todo-form div.tasks div.task div.procedure div.type
{
	display: inline-block;
}
div.cpw-ama-robot-todo-form div.tasks div.task div.procedure div.debtor-name
{
	display: inline-block;
}

div.cpw-ama-robot-todo-form div.tasks div.task div.term
{
	text-align: right;
}
div.cpw-ama-robot-todo-form div.tasks div.task div.term div.time
{
	display: inline-block;
}

div.cpw-ama-robot-todo-form div.tasks.no-proc div.task div.procedure
{
	display: none;
}
div.cpw-ama-robot-todo-form div.tasks div.content-task.no-proc
{
	display: none;
}

.cpw-ama-robot-todo-form .tasks .tasks-body .task .term {
	font-size: 14px;
}

body .cpw-ama-robot-todo-form .tasks .tasks-body {
    cursor: pointer;
    font-size: 16px;
    overflow: auto;
    margin-left: 7px;
}


.cpw-ama-robot-todo-form .header select, .cpw-ama-robot-todo-form .tasks-body {
    margin-top: 2px;
}
</style>
<%
var model= obj.fastening.model;
var задачи= (!model || !model.Задачи) ? [] : model.Задачи;
var процедуры= (!model || !model.Процедуры) ? [] : model.Процедуры;
var процедура_id= function(id)
{
	for (var i= 0; i< процедуры.length; i++)
	{
		var процедура= процедуры[i];
		if (id==процедура.ID)
			return процедура;
	}
	return null;
};
var процедура_заадчи= function(задача)
{
	return процедура_id(задача.ПроцедураID);
}; 
%>
<div class="cpw-ama-robot-todo-form">
	<div class="container">
		<div class="tasks">
			<div class="header">
				<b>Фронт задач:</b>
				<div class="selected-list">
					<select class="procedure-list">
						<option value="">по всем процедурам</option>
						<%	for (var i= 0; i < процедуры.length; i++) 
						{ 
							var процедура= процедуры[i];
					%>
					<option value="<%= процедура.ID %>"><%= процедура.тип.Кратко %><% if (0) { %>Н<% } %>, 
						<%= процедура.Должник.Наименование %><% if (0) { %>ООО Рога и копыта<% } %>
					</option>
						<%	} %>
					</select>
				</div>
			</div>

		
			<div class="body">
				<div class="content">
					<%	for (var i= 0; i < задачи.length; i++) 
				{ 
					var задача= задачи[i];
					var date = new Date(parseInt(задача.К_сроку.substring(6,19)));
					date = date.toLocaleDateString();
					var процедура= процедура_заадчи(задача);
				%>
					<div class="content-task">
						<div class="task" id_procedure="<%= задача.ПроцедураID %>" id_task="<%= задача.ЗадачаID %>">
							<div class="name"><%= задача.Формулировка %><% if (0) { %>Отправить запросы-уведомления<% } %></div>
							<div class="procedure">
								<div class="type"><%= процедура.тип.Кратко %><% if (0) { %>Н<% } %></div>
								<span class="selector">, </span>
								<div class="debtor-name"><%= процедура.Должник.Наименование %><% if (0) { %>ООО Рога и копыта<% } %></div>
							</div>
							<div class="term">
								<span class="till">до </span>
								<div class="time"><%= date %><% if (0) { %>06.02.2015<% } %></div>
							</div>
						</div>
					</div>
					<%	} %>
				</div>
			</div>
		</div>

		
	</div>
</div>
