﻿<style>
div.cpw-ajax-std-message div.right
{
	text-align: right
}
div.cpw-ajax-std-message .gray
{
	color: gray;
}
div.cpw-ajax-std-message .title
{
	font-size: large;
}
</style>
<div class="cpw-ajax-std-message">
	<small>
		<%= new Date() %><% if (0) { %>12:00<% } %> 
		<span class="gray">
			вызов jQuery.ajax
			<div class="right gray">
				указан url: <%= obj.url %><% if (0) { %>http://yandex.ru<% } %> 
			</div>
		</span>
	</small>
	<br/>
	<center class="title"><%= obj.title %><% if (0) { %>Какой-то там запрос..<% } %> </center>
	<br/>
	<small class="gray">
		Это окно должно закрыться автоматически.<br/>
		<center>Если этого не произошло и вы успеваете прочитать эту надпись,</center>
		<div class="right">возможно, что что-то пошло не так..</div>
	</small>
</div>