﻿<style>
div.cpw-ama-robot-task-help-form
{
	margin: 0 auto;
	width: 600px;
}
div.cpw-ama-robot-task-help-form div.row
{
	width: 100%;
}
div.cpw-ama-robot-task-help-form div.row div
{
	display: inline-block;
}
div.cpw-ama-robot-task-help-form div.row div.label
{
	width: 100px;
}
div.cpw-ama-robot-task-help-form div.row div.value
{
	font-weight: bold;
}
div.cpw-ama-robot-task-help-form div#cpw-ama-robot-task-help-form-tabs
{
	margin-top: 5px;
}
div.cpw-ama-robot-task-help-form div#cpw-ama-robot-task-help-form-tabs div.content
{
	height: 200px;
	overflow-y: scroll;
	white-space: pre-line;
}
</style>
<%
var model= obj.fastening.model;
var задача= !model ? {} : model.Задача;
var процедура= !model ? {Тип:{},Должник:{}} : model.Процедура;
var date = !задача.К_сроку ? new Date(197,2,3) : new Date(parseInt(задача.К_сроку.substring(6,19)));
date = date.toLocaleDateString();
if (процедура.тип)
{
	var Тип_полностью= процедура.тип.Полностью;
	if (!Тип_полностью || null==Тип_полностью || ''==Тип_полностью)
	{
		switch (процедура.тип.Кратко)
		{
			case 'Н': Тип_полностью= 'Наблюдение'; break;
			case 'КП': Тип_полностью= 'Конкурсное производство'; break;
		}
	}
}
%>
<div class="cpw-ama-robot-task-help-form">
	<div class="row task">
		<div class="label">Задача:</div>
		<div class="value"><%= задача.Формулировка %><% if (0) { %>Отправить запросы-уведомления<% } %></div>
	</div>
	<div class="row procedure">
		<div class="label">Процедура:</div>
		<div class="value"><%= Тип_полностью %><% if (0) { %>Наблюдение<% } %></div>
	</div>

	<div id="cpw-ama-robot-task-help-form-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-ama-robot-task-help-tab-why" >Описание-обоснование</a></li>
			<li><a href="#cpw-ama-robot-task-help-tab-how" >Рекомендации</a></li>
		</ul>
		<div id="cpw-ama-robot-task-help-tab-why" >
			<div class="content">
Статья 66 Федерального закона «О несостоятельности (банкротстве)»
 
1. Временный управляющий вправе:
- получать любую информацию и документы, касающиеся деятельности должника;
- осуществлять иные установленные Федеральным законом «О несостоятельности (банкротстве)» полномочия.
2. Органы управления должника обязаны предоставлять временному управляющему по его требованию любую информацию, касающуюся деятельности должника.
Сведения о должнике, принадлежащем ему имуществе, в том числе имущественных правах, и об обязательствах, запрошенные временным управляющим у физических лиц, юридических лиц, 
			</div>
		</div>
		<div id="cpw-ama-robot-task-help-tab-how" >
			<div class="content">
В налоговом органе запрашиваются дубликаты учредительных документов и другие документы. В службе судебных приставов запрашивается информация о имеющихся исполнительных производствах относительно имущества Должника.
 
Документы:
- запрос в ГИБДД
- запрос в ССП
- запрос в Росреестр 
- запрос в территориальное управление Росимущества
- запрос в регистрирующий орган (ИФНС)
- запрос в технадзор
- запрос в надзор за опасными производственным объектами
- запрос в Минприроды
- запрос в БТИ
- запрос в архив
- запрос в ФСС
- запрос ПФ
-  пример жалобы на действия (бездействие) должностных лиц
-  пример жалобы на действие судебного пристава
			</div>
		</div>
	</div>

</div>