﻿<style>
	div.cpw-ama-robot-task-default-form {
		margin: 0 auto;
		padding: 5px;
		min-width: 510px;
		font-size: 16px;
		display: block;
	}

	body.cpw-ama div.cpw-ama-robot-task-default-form div.buttons button
	{
		font-size:14px;
	}
		div.cpw-ama-robot-task-default-form textarea {
			margin-left: 25px;
			margin-bottom: 10px;
		}

		div.cpw-ama-robot-task-default-form div.help {
			margin-top: 10px;
			margin-bottom: 10px;
		}

			div.cpw-ama-robot-task-default-form div.help div.question {
				display: inline-block;
				text-align: right;
				padding-right: 3px;
			}

		div.cpw-ama-robot-task-default-form div.row.title {
			margin-bottom: 10px;
			font-size: large;
		}

		div.cpw-ama-robot-task-default-form div.row.procedure {
			margin-left: 20px;
		}

		div.cpw-ama-robot-task-default-form div.row.debtor {
			margin-left: 40px;
		}

		div.cpw-ama-robot-task-default-form div.row.time {
			margin-left: 10px;
			margin-top: 10px;
			font-size: large;
		}

		div.cpw-ama-robot-task-default-form div.value {
			display: inline-block;
			margin-left:5px;
		}

		div.cpw-ama-robot-task-default-form div.row.time div.value {
			font-weight: bold;
		}

		div.cpw-ama-robot-task-default-form button.skip {
			margin-left: 55px;
		}
</style>
<%
var model= obj.fastening.model;
var задача= !model ? {} : model.Задача;
var процедура= !model ? {Тип:{},Должник:{}} : model.Процедура;
var date = !задача.К_сроку ? new Date(197,2,3) : new Date(parseInt(задача.К_сроку.substring(6,19)));
date = date.toLocaleDateString();
if (процедура.тип)
{
	var Тип_полностью= процедура.тип.Полностью;
	if (!Тип_полностью || null==Тип_полностью || ''==Тип_полностью)
	{
		switch (процедура.тип.Кратко)
		{
			case 'Н': Тип_полностью= 'Наблюдение'; break;
			case 'КП': Тип_полностью= 'Конкурсное производство'; break;
		}
	}
}
%>
<div class="cpw-ama-robot-task-default-form">
	<div class="row title">
		<div class="value">
			<b><%= задача.Формулировка %><% if (0) { %>Отправить запросы-уведомления<% } %></b>
		</div>
	</div>

	<div class="row procedure">
		<span>для процедуры</span>
		<div class="value">
			<%= Тип_полностью %><% if (0) { %>Наблюдение<% } %>
		</div>
	</div>

	<div class="row debtor">
		<span>над должником</span>
		<div class="value">
			<b><%= процедура.Должник.Наименование %><% if (0) { %>ООО "Рога и копыта"<% } %> </b>
		</div>
	</div>

	<div class="row time">
		<span>нужно выполнить до</span>
		<div class="value"> 
			<%= date %><% if (0) { %>06.02.2015<% } %>
		</div>
	</div>

	<div class="help">
		<table>
			<tr>
				<td>
					<div class="question">
						Почему Вам нужно выполнить эту задачу? см.
					</div>
				</td>
				<td>
					<div class="question_href">
						<a href="#null" class="why">Описание-обоснование</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="question">
						Как Вам выполнить эту задачу? см.
					</div>
				</td>
				<td>
					<div class="question_href"><a href="#null" class="how">Рекомендации</a></div>
				</td>
			</tr>
		</table>
	</div>

	Пояснения о статусе выполнения:<br />
	<textarea></textarea>
	<div class="buttons">
		<button class="done ama-button red">Отметить как "Сделано"</button>
		<button class="skip ama-button red">Пропустить (не показывать больше эту задачу)</button>
	</div>


</div>