<style>
div.crowbar-test-fastened-a_modal
{
	width: 400px;
	margin: 0 auto;
}
</style>
<div class="crowbar-test-fastened-a_modal">
	<span>Подшефный:</span>
	<a href="#"  <%= obj.a_modal_attrs('Подшефный') %> >
		Кликните, чтобы указать данные..
	</a>
</div>