﻿<style>
div.cpw-ama-robot-main-form > div.todo
{
	width:306px;
	height:600px;
	display:inline-block;
	border-left:1px solid gray;
	padding-left: 3px;
	padding-right: 3px;
}
div.cpw-ama-robot-main-form > div.task
{
	width:685px;
	height:600px;
	display:inline-block;
	border-left:1px solid gray;
	border-right:1px solid gray;
	vertical-align: top;
}
div.cpw-ama-robot-main-form > div.todo select
{
	width: 200px;
}
</style>
<% if (0) { %>
<style>
div.cpw-ama-robot-main-form div.todo
{
	padding-top: 30px;
	text-align: center;
}
div.cpw-ama-robot-main-form div.task
{
	padding-top: 30px;
	text-align: center;
}
</style>
<% } %>
<div class="cpw-ama-robot-main-form">
	<div class="todo"><%= obj.control('todo') %><% if (0) { %>TODO<% } %></div>
	<div class="task">Задача не выбрана</div>
</div>