<style>div.cpw-collection td { padding: 3px 10px; }</style>
<div class="cpw-collection">
	<div <%= obj.empty_attrs() %> >
		Список пуст
	</div>
	<table <%= obj.not_empty_attrs() %> >
		<tr>
			<td>№</td>
			<td>ученик</td>
			<td>алгебра</td>
			<td>пение</td>
		</tr>
		<% while (obj.iterate()) { %>
		<tr <%= obj.item_attrs() %> >
			<td>
				<%= obj.item_position1() %>
					<% if (obj.is_seed()) { %>1<% } %>
				<%= obj.item_position1_end() %>)
			</td>
			<td>
				<%= obj.text_field('Ученик') %>
					<% if (obj.is_seed()) { %>Иванов<% } %>
				<%= obj.text_field_end() %>
			</td>
			<td>
				<%= obj.text_field('Оценки.алгебра') %>
					<% if (obj.is_seed()) { %>2<% } %>
				<%= obj.text_field_end() %>
			</td>
			<td>
				<%= obj.text_field('Оценки.пение') %>
					<% if (obj.is_seed()) { %>2<% } %>
				<%= obj.text_field_end() %>
			</td>
		</tr>
		<% } %>
	</table>
</div>