<style>
div.crowbar-test-fastened-width-collection div.collection-item
{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
}
div.crowbar-test-fastened-width-collection div[model-selector="ОКВЭД"]
,div.crowbar-test-fastened-width-collection div.collection
{
	display: inline-block;
}
div.crowbar-test-fastened-width-collection div.collection-item input
{
	width:30px;
	margin-right:3px;
}
div.crowbar-test-fastened-width-collection div.collection-item:hover
{
	background-color: #eeeeee;
}
</style>
<div class="crowbar-test-fastened-width-collection">

	Наименование: <input type="text" value="<%= obj.txt('Наименование') %>" /><br/>

	<span>ЭКВЭДы:</span>
	<div <%= obj.with_attrs('ОКВЭД') %> >
		<%= obj.start_with() %>

			<div <%= obj.empty_attrs() %> ></div>

			<div <%= obj.not_empty_attrs() %> class="collection">
			<% while (obj.iterate()) { %>
				<div <%= obj.item_attrs() %> class="collection-item">
					<input type="text"value="<%= obj.txt('') %>" />
					<button class="delete">x</button>
				</div>
			<% } %>
			</div>

			<button class="add">+</button>
		
		<%= obj.end_with() %>
	</div>

</div>
<%
var on_add= function(e)
{
	var fc_dom_item= $(obj.selector + ' [model-selector="ОКВЭД"]');
	var model= obj.fastening.get_fc_model_value(fc_dom_item);
	if (!model)
		model= [];
	model.push('');
	obj.fastening.set_fc_model_value(fc_dom_item, model);
	$(obj.selector).trigger('model_change');
};
var on_delete= function(e)
{
	var i_item= obj.h_fastening_clip.get_parent_fc_of_type($(this),'array-item').attr('array-index');
	var fc_dom_item= $(obj.selector + ' [model-selector="ОКВЭД"]');
	var model= obj.fastening.get_fc_model_value(fc_dom_item);
	var item= model[i_item];
	model.splice(i_item,1);
	obj.fastening.set_fc_model_value(fc_dom_item, model);
	$(obj.selector).trigger('model_change');
	return false;
};
obj.on_after_render= function()
{
	var sel= obj.selector;
	$(sel + ' .add').click(on_add);
	$(sel + ' .delete').click(on_delete);
};
obj.on_after_update_dom= function()
{
	var sel= obj.selector;
	var do_delete_items= $(sel + ' .delete');
	do_delete_items.off('click',on_delete);
	do_delete_items.click(on_delete);
};
%>